$path: "../../node_modules/govuk_frontend_toolkit/images/";

@import "govuk-elements";


/**************************
* Govuk stuff
***************************/
.govuk-related-items {
  margin-top: $gutter;
  border-top: 8px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}




/**************************
* Objects
***************************/

.o-question {
    padding-top: $gutter; 
}





/**************************
* Components
***************************/

.c-risk-threat {
    text-transform: uppercase;
}

.c-risk-threat--low {
    color: $turquoise;
}

.c-risk-threat--medium {
    color: $orange;
}

.c-risk-threat--high {
    color: $red;
}

.c-risk-threat--unknown {
    color: $mauve;
}


.c-form-label-container {
  margin-top: $gutter;  
  margin-bottom: $gutter;
}

.c-message-text {
    font-weight: bold;
    margin-top: 15px;
}

.c-messgae-text--success {
    color: $turquoise;
}

.c-btn-right--xcustom {
    margin-top: 100px;
    float: right;
}




/*******************
* Utilities
*******************/

.u-clear-fix {
    content: "";
    display: table;
    clear: both;
}

.u-text-align-right {
    text-align: right;
}

.u-margin-top-default {
    margin-top: $gutter;
}

.u-no-margin-top {
    margin-top: 0;
}