$path: "../../node_modules/govuk_frontend_toolkit/images/";

@import "govuk-elements";


/**************************
* Govuk stuff
***************************/
.govuk-related-items {
  margin-top: $gutter;
  border-top: 8px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}


/**************************
* Objects
***************************/

.o-question {
    padding-top: $gutter;
}



/**************************
* Components
***************************/

.c-global-header__wrapper {
  color: #FFF;
  font-weight: bold;
  text-align: right;
  float: right;
  margin-top: -5px;
}

.c-global-header__username {
  vertical-align: middle;
}

.c-profile-logout {
  display: inline-block;
  background: none;
  color: #FFF;
  border: none;
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
  padding: 0.5em;
  cursor: pointer;
}

.c-section-title {
    span {
        vertical-align: top;
    }
}

.c-dashboard-header {
    // margin-top: 1em;
    border-bottom: solid 1px $grey-2;
    padding-top: $gutter;
    padding-bottom: $gutter;

}

.c-offender-count {
    display: block;
    font-size: 24px;
    line-height: 1.25;
    font-weight: bold;
    padding-top: 8px;
}

.c-profile-holder {
    width: 50px;
    height: 50px;
    display: block;
    background-image: url("../images/profile-placeholder.gif");
    background-size: contain;
    background-repeat: no-repeat;
}

.c-date-title {
    margin-bottom: 3em;
}

.c-risk-threat {
    text-transform: uppercase;
}

.c-risk-threat--low {
    color: $turquoise;
}

.c-risk-threat--medium {
    color: $orange;
}

.c-risk-threat--high {
    color: $red;
}

.c-risk-threat--unknown {
    color: $mauve;
}


.c-form-label-container {
  margin-top: $gutter;
  margin-bottom: $gutter;
}

.c-message-text {
    font-weight: bold;
    margin-top: 15px;
}

.c-messgae-text--success {
    color: $turquoise;
}

.c-btn-right--xcustom {
    margin-top: 100px;
    float: right;
}

.c-table-start-btn {
    font-size: 20px;
}


.c-status-indicator {
    padding: 0.3em 0.8em;
    border: solid 1px $grey-2;
    display: inline-block;
    background-color: $grey-3;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}


.c-offender-details-container {
    width: 100%;
    margin-top: $gutter;
    padding-top: $gutter;
    padding-bottom: $gutter;
    margin-bottom: 70px;
    border-top: 1px solid $grey-2;
    border-bottom: 1px solid $grey-2;
}

.c-offender-profile-image {
    float: left;
    max-width: 150px;

    height: auto;
    margin-right: 40px;
}

.c-profile-holder--global-header {
  border-radius: 50%;
  float: none;
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  margin-right: 0;
  margin-left: 20px;
}

.c-offender-profile-image img {
    max-width: 100%;
    height: auto;
}

.c-offender-profile-details {
    float: left;
    padding-top: 15px;
}


.c-offender-profile-item {
    display: block;
    text-transform: capitalize;
}

.c-row-title {
  font-size: 24px;
}

/*******************
* Utilities
*******************/

.u-clear-fix {
    content: "";
    display: table;
    clear: both;
}

.u-text-align-center {
    text-align: center;
}

.u-text-align-right {
    text-align: right;
}

.u-margin-top-default {
    margin-top: $gutter;
}

.u-margin-bottom-default {
    margin-bottom: $gutter;
}

.u-margin-bottom-large {
    margin-bottom: 70px;
}

.u-no-margin-top {
    margin-top: 0;
}

.u-no-margin-bottom {
    margin-bottom: 0;
}

.u-no-margin {
  margin: 0;
}

.u-d-block {
  display: block;
}

.u-no-link {
  text-decoration: none;
  color: $text-colour !important;
}

.u-text-capitalize {
  text-transform: capitalize;
}
